body{
    margin: 0;
    font-family: RobotoLight;
}

@font-face {
    font-family: FontAwesomeSolid;
    src: url(fonts/fa-solid-900.woff);
}

@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto-Light.ttf)
}


/* top menu */


#top-menu {
    height: 100px;
    background-color: rgb(92, 130, 165);
    font-size: 0px;
}

#top-menu .logo-form {
    display: inline-block; 
    max-width: 80px;
    right: 50px;
    margin-top: 10px;
    margin-left: 100px;
    vertical-align: top;
}

#top-menu .search-text {
    display: inline-block;
    padding: 6px;
    margin-top: 30px;
    margin-left: 200px;
    border: none;
    font-size: 17px;
    width: 30%;
    vertical-align: top;
    font-size: 20px;
}

#top-menu .submit {
    display: inline-block;
    width: 70px;
    height: 35px;
    vertical-align: top;
    margin-top: 30px;
    cursor: pointer;
    background-color: gray;
    font-size: 10px;
    border: none;
    outline: none;
}

#top-menu .search-icon:before {
    display: inline-block;
    font-family: FontAwesomeSolid;
    content: '\f002';
    font-style: normal;
    font-size: 20px;
}

#top-menu .submit:hover {
    background-color: rgb(105, 126, 145);
    color: white;
}

#top-menu .hotline {
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    cursor: pointer;
    background-color: gray;
    margin-left: 300px;
    font-size: 20px;
    border: none;
    height: 40px;
    line-height: 35px;
    width: 160px;
    text-align: center;
}

#top-menu .phone-icon:before {
    font-family: FontAwesomeSolid;
    content: '\f095';
    margin-right: 5px;
    font-style: normal;
}

#top-nemu .phone-icon {
    font-style: normal;
}

#top-menu .hotline:hover {
    background-color: rgb(105, 126, 145);
    color: white;
}

#top-menu .login {
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    cursor: pointer;
    background-color: gray;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    font-style: normal;
    height: 40px;
    line-height: 35px;
    width: 90px;
    text-align: center;
}

#top-menu .login:hover {
    background-color: rgb(105, 126, 145);
    color: white;
}

#top-menu .login-icon:before {
    font-family: FontAwesomeSolid;
    content: '\f2f6';
    margin-right: 5px;
}

#top-menu .login-icon {
    font-style: normal;
}

#top-menu .register {
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    cursor: pointer;
    background-color: gray;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    font-style: normal;
    height: 40px;
    line-height: 35px;
    width: 120px;
    text-align: center;
}

#top-menu .register:hover {
    background-color: rgb(105, 126, 145);
    color: white;
}

#top-menu .register-icon:before {
    font-family: FontAwesomeSolid;
    content: '\f25d';
    margin-right: 5px;
}

#top-menu .register-icon {
    font-style: normal;
}

/* mid menu */


#navigation-menu {
    margin-left: 0px;
    position: relative;
    height: 60px;
    background-color: rgb(53, 48, 48);
}

#navigation-menu .homepage:before {
    font-family: FontAwesomeSolid;
    content: '\f3cd';
    margin-right: 5px;
}
#navigation-menu .homepage:hover {
    background-color: rgb(42, 109, 70);
    color: black;
}

#navigation-menu .service:before {
    font-family: FontAwesomeSolid;
    content: '\f5d1';
    margin-right: 5px;
}

#navigation-menu .dropdown-toggle {
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    margin: 2px 2px;

}

#navigation-menu .knowledge:before {
    font-family: FontAwesomeSolid;
    content: '\f10a';
    margin-right: 5px;
}

#navigation-menu .item-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 5px;

}

#navigation-menu .exercises:before {
    font-family: FontAwesomeSolid;
    content: '\f025';
    margin-right: 5px;
}
#navigation-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#navigation-menu .store:before {
    font-family: FontAwesomeSolid;
    content: '\f06b';
    margin-right: 5px;
}

#navigation-menu .dropdown-content a {
    color:  black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#navigation-menu .dropdown-content a:hover {
    background-color: gray;
}

#navigation-menu .item-wrapper:hover .dropdown-content {
    display: block;
}

#navigation-menu .dropdown-toggle:hover  {
    background-color: rgb(174, 194, 87);
}

#navigation-menu .menu-wrapper {
    text-align: center;
}


/* banner */


#banner {
    position: relative;
    height: 600px;
    background-color: white;
}

#banner .arrow-left:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    display: inline-block;
    vertical-align: bottom;
    font-family: FontAwesomeSolid;
    content: '\f060';
    font-style: normal;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50px;
    background-color: red;
    width: 45px;
    height: 45px;
    text-align: center;
    color: white;

}

#banner .arrow-right:before {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    display: inline-block;
    vertical-align: bottom;
    font-family: FontAwesomeSolid;
    content: '\f061';
    font-style: normal;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50px;
    background-color: red;
    width: 45px;
    height: 45px;
    text-align: center;
    color: white;

}

#banner .advertisment {
    height: 100%;
    width: 100%;
}


/* wrapper */


#wrapper .title {
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(172, 136, 136);
}

#wrapper .title-a {
    height: 30px;
    width: 300px;
    background-color: rgb(172, 136, 136);
    display: block;
    text-align: center;
    line-height: 2;
    color: lightgoldenrodyellow;
}

#wrapper .title-b {
    height: 30px;
    width: 300px;
    background-color: rgb(172, 136, 136);
    display: block;
    text-align: center;
    line-height: 2;
    color: lightgoldenrodyellow;
}

#wrapper .title-e {
    height: 30px;
    width: 300px;
    background-color: rgb(172, 136, 136);
    display: block;
    text-align: center;
    line-height: 2;
    color: lightgoldenrodyellow;
}
